.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px; /* Adjust based on the width of your sidebar */
  background-color: #101827; /* Adjust the color to match the sidebar in the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Space at the top */
}

.sidebar-img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.sidebar-img:hover {
  transform: scale(1.2); /* Make the icon 20% larger on hover */
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}